h2 {
  color: $text-color;
  margin-bottom: 0.3em;
  margin-left: 0.3em;

  &::before {
    content: "\002B";
    margin: 0 0.2em;
  }
}

section {
  width: 19rem;
  margin: 0 auto 1rem;
  padding-top: 0.3rem;

  &:last-of-type {
    margin-bottom: 0;
  }

  div {
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.5rem;
  }

  input[type="checkbox"] {
    margin-left: 8em;
  }

  input[type="checkbox"],
  label {
    cursor: pointer;
  }
}

button {
  padding: 0.5em 2em;
  border-radius: 50px;
  font-size: 2em;
  font-weight: bold;
  margin-top: 4em;
  margin-left: 3em;
  cursor: pointer;
}
