$font-stack: Verdana, Geneva, Tahoma, sans-serif;
$heading-color: #362904;
$text-color: #ffffff;

/* Declaring font sizes */
/* Px only in html */
/* Modules (section, article etc.) in rem */
/* Text elements (h1, li etc.) in em */

body {
  background-color: #d4a853;
  font-family: $font-stack;
}

h1 {
  color: $heading-color;
  text-align: center;
  margin: 0.5em 0;
}

section {
  background-color: #8d600a;
  border: 1px solid $heading-color;
}

button {
  background-color: #ae882d;
  border: 1px solid $heading-color;
  color: $text-color;
}
