<h1>Wat wil je leren?</h1>
<section>
    <h2>Soort gitaar</h2>
    <div>
        <label for="akoestisch">Akoestisch</label>
        <input type="checkbox" id="akoestisch" name="akoestisch" value="Akoestisch">
        <label for="elektrisch">Elektrisch</label>
        <input type="checkbox" id="elektrisch" name="elektrisch" value="Elektrisch">
        <label for="bass">Bass</label>
        <input type="checkbox" id="bass" name="bass" value="Bass">
        <label for="ukelele">Ukelele</label>
        <input type="checkbox" id="ukelele" name="ukelele" value="Ukelele">
    </div>
</section>
<section>
    <h2>Genre</h2>
    <div>
        <label for="pop">Pop</label>
        <input type="checkbox" id="pop" name="pop" value="Pop">
        <label for="rock">Rock</label>
        <input type="checkbox" id="rock" name="rock" value="Rock">
        <label for="80s">80s</label>
        <input type="checkbox" id="80s" name="80s" value="80s">
        <label for="house">House</label>
        <input type="checkbox" id="house" name="house" value="House">
    </div>
</section>
<section>
    <h2>Niveau</h2>
</section>
<section>
    <h2>Manier van leren</h2>
    <div>
        <label for="tabs">Tabs</label>
        <input type="checkbox" id="tabs" name="tabs" value="Tabs">
        <label for="akkoorden">Akkoorden</label>
        <input type="checkbox" id="akkoorden" name="akkoorden" value="akkoorden">
    </div>
</section>
<form method="POST" action="/">
    <button type="submit">Zoeken</button>
</form>
