<h1>Wat wil je leren?</h1>
<section>
    <h2>Soort gitaar</h2>
    <div>
        <label for="akoestisch">Akoestisch</label>
        <input type="checkbox" id="akoestisch" name="akoestisch" value="Akoestisch">
        <label for="elektrisch">Elektrisch</label>
        <input type="checkbox" id="elektrisch" name="elektrisch" value="Elektrisch">
        <label for="bass">Bass</label>
        <input type="checkbox" id="bass" name="bass" value="Bass">
        <label for="ukelele">Ukelele</label>
        <input type="checkbox" id="ukelele" name="ukelele" value="Ukelele">
    </div>
</section>
<section>
    <h2>Genre</h2>
</section>
<section>
    <h2>Niveau</h2>
</section>
<section>
    <h2>Manier van leren</h2>
</section>
<button type="submit">Zoeken</button>