<h1>Resultaten</h1>
<section class="results">
    <img alt="plaatje" src="">
    <h2>...</h2>
    <p>....</p>
    <hr>
    <div>
        <button type="button">&#10003;</button>
        <button type="button">&#215;</button>
    </div>
</section>